extends layout

block content
  h1= title
    br
    a.btn.btn-primary(href="/juice/create") Create Juice 
    br
  - let items = results;
  each item in items
    - let destination = `dispatch(\"/juice/update?id=${item._id}\")`
    - let destinationdetail = `dispatch(\"/juice/detail?id=${item._id}\")`
    - let destinationdelete = `dispatch(\"/juice/delete?id=${item._id}\")`

    div
      p Flavor - #{item.juice_flavor}
      p Brand - #{item.juice_brand}
      p Price - #{item.juice_price}
      button.btn( class="btn-primary ml-1", onclick= destination) Update
      button.btn( class="btn-secondary.ml-1", onclick= destinationdetail) Detail
      button.btn( class="btn-danger.ml-1", onclick= destinationdelete) Delete
      
      br
      br

  script.
    function dispatch(path){
      window.location.href = path
    }

