extends layout

block content
  h1= title

  - let items = results;
  each item in items
    - let juice_flavor = `dispatch("/juice/update?id=${item._id}")`
    - let juice_brand = `dispatch("/juice/detail?id=${item._id}")`
    - let juice_price = `dispatch("/juice/delete?id=${item._id}")`

    div
      p Flavor - #{item.juice_flavor}
      p Brand - #{item.juice_brand}
      p Price - #{item.juice_price}
      button.btn.btn-primary.ml-1(onclick=juiceupdate) Update
      br
      br

  script.
    function dispatch(path){
      window.location.href = path;
    }

